{% if item.http %}
server {
    listen 80;
    server_name {{ item.domain }};
{% if item.redirect_http_to_https | default(None) %}

    return 301 https://$host$request_uri;
{% elif item.redirect_to_another_domain | default(None) %}

    rewrite ^ {{ item.redirect_to_another_domain }}$request_uri? permanent;
{% elif item.serve_on_http | default(None) %}
    root {{ item.root }};
    index index.html index.htm index.nginx-debian.html;
    server_name {{ item.domain }};

{% if item.aliases is defined %}
{% for alias in item.aliases %}
	location {{ alias.mount_point }} {
	    alias {{ alias.directory }};
	    auth_basic "{{ alias.name }}";
{% if alias.htpasswd is defined %}
	    auth_basic_user_file /etc/nginx/{{ alias.name }}.htpasswd;
{% endif %}
{% if alias.allowed_hosts is defined %}
{% for host in alias.allowed_hosts %}
        allow {{ host }};
{% endfor %}
        deny all;
{% endif %}
	    autoindex on;
	}
{% endfor %}
{% endif %}
{% endif %}
}
{% endif %}

{% if item.https %}
server {
    listen 443 ssl;
    root {{ item.root }};
    index index.html index.htm index.nginx-debian.html;
    server_name {{ item.domain }};
    ssl_certificate {{ item.ssl.cert }};
    ssl_certificate_key {{ item.ssl.privkey }};
{% if item.redirect_to_another_domain | default('') %}

    rewrite ^ {{ item.redirect_to_another_domain }}$request_uri? permanent;
{% endif %}

{% if item.serve_root | default(True) %}
    location / {
        # First attempt to serve request as file, then
        # as directory, then fall back to displaying a 404.
        try_files $uri $uri/ =404;
    }
{% endif %}

    include /etc/pyapps/{{ item.name }}/*.conf;

{% if item.aliases is defined %}
{% for alias in item.aliases %}
	location {{ alias.mount_point }} {
	    alias {{ alias.directory }};
	    auth_basic "{{ alias.name }}";
{% if alias.htpasswd is defined %}
	    auth_basic_user_file /etc/nginx/{{ alias.name }}.htpasswd;
{% endif %}
{% if alias.allowed_hosts is defined %}
{% for host in alias.allowed_hosts %}
        allow {{ host }};
{% endfor %}
        deny all;
{% endif %}
	    autoindex on;
	}
{% endfor %}
{% endif %}
}
{% endif %}
