[Unit]
Description=uWSGI Emperor Server
After=syslog.target
StartLimitIntervalSec=0

[Service]
ExecStart={{ uwsgi_install_dir }}/bin/uwsgi --ini /etc/uwsgi-emperor.ini
Restart=always
RestartSec=2s
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target

